/* RESET */
body, textarea{
  font-family: '나눔고딕','NanumGothic','돋움','Dotum',sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
img{
  box-sizing: border-box;
  vertical-align: top;
}
legend{
  width: 100%;
}
/* BLIND */
.blind{
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  margin: -1px;
}
/* COMMON */
button{
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 0;
}
.inner{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0; right: 0;
  margin: 0 auto;
}
/* HEADER */
header .inner{
  height: 50px;
}
header .logo{
  display: inline-block;
  position: absolute;
  background: url(/image/logo_pc.png) no-repeat center;
  width: 107px;
  height: 22px;
  margin: 14px 0 0 10px;
}
header .gnb_menu{
  right: 0;
  position: absolute;
  width: 46px;
  height: 50px;
  margin-right: 4px;
  background: url(/image/icon_menu.png) no-repeat center;
}
header .menu{
  display: none;
  position: absolute;
  margin-top: 50px;
  height: 128px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
  z-index: 1;
  background-color: #fff;
}
header .menu a{
  display: block;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  color: #333;
}
header .menu a:hover,
header .menu a:focus
{
  font-weight: bold;
}
header .gnb_menu:focus + .menu{
  display: block;
}
/* BANNER */
.banner{
  display: block;;
  background-color: #ffee02;
  height: 330px;
  padding: 20px 35px 0;
}
.banner .inner{
  margin: auto;
  text-align: center;
}
.banner .content .banner_img{
  width: 250px;
  height: 180px;
}
.banner .content .description{
  display: -webkit-box;
  font-size: 22px;
  color: #333;
  line-height: 28px;
  overflow:hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 5px;
}
.banner .content .profile{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
}
.banner .content .profile_img{
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.banner .content .profile::before{
  display: block;
  content: '';
  border-top: 1.5px solid #333;
  width: 40px;
  position: absolute;
  margin-top: -60px;
}
.banner .content .profile_img img{
  width: 30px;
  height: 30px;
}
.banner .content .profile_name{
  font-size: 16px;
  color: #333;
}
/* MAIN CONTENT */
.main{
  background-color: #f0f0f0;
  padding:0 15px;
  box-sizing: border-box;
  width: 100%;
}
.main .inner{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.main .content{
  position: relative;
  margin: 15px auto;
  min-width: 0;
}
.main .content .link{
  display: block;
}
.main .content .link img{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
}
.main .content .link .description{
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0 5px;
  text-align: center;
}
.main .more{
  position: relative;
  font-size: 16px;
  color: #333;
  width: 100%;
  padding: none;
  height: 60px;
  background-color: transparent;
}
.main .more::before{
  display: inline-block;
  content: '';
  background: url(/image/icon_arrow_more.png) no-repeat center;
  width: 16px;
  height: 16px;
  margin-top: -1px;
  margin-right: 10px;
}

/* MESSAGE */
.message{
  padding: 30px 15px;
  background-color: #f4f5f7;
}
.leave_box{
  text-align: center;
}
.message .leave_message{
  font-size: 22px;
  color: #333;
}
.message .leave_email{
  margin: 10px 0 20px;
  font-size: 14px;
  color: #333;
}
.message .message-content{
  position: relative;
  width: 100%;
  background-color: #fff;
  opacity: .9;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.08);
  padding: 25px 25px;
  box-sizing: border-box;
}
.message .message-content .input-title{
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 25px 0;
}
.message .message-content fieldset .input-title:nth-child(2){
  margin-top: 0;
}
.message-content .input{
  width: 100%;
  border:none;
  border-bottom: 1px solid #c1c1c1;
  font-size: 14px;
  color: #333;
  padding-bottom: 10px;
  outline: none;
}
.message-content .input::placeholder{
  content: '';
  font-size: 14px;
  color: #acacac;
}
.message-content .email{
  display: flex;
}
.message-content textarea.input{
  resize: none;
  border: 1px solid #c1c1c1; 
  margin-top: 25px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 150px;
}
.message-content .submit-btn{
  position: absolute;
  border: 2px solid #bdbdbd;
  background-color: #e9e9e9;
  font-size: 11px;
  color: #666;
  padding: 5px  10px;
  top: 15px;
  right: 25px;
}
/* LINKS */
section.links{
  box-sizing: border-box;
  padding: 15px;
  background-color: #f0f0f0;
}
.links .title{
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.links .content{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c1c1c1;
  padding: 10px 0 20px;
}
.links .content .link{
  display: block;
  min-height: 0;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
}
.links .link.more{
  font-size: 14px;
  color: #333;
  text-align: right;
}
.creator .title{
  margin-top: 20px;
}
.creator .link{
  display: inline-block;
  margin: 10px 10px 0 0;
  font-size: 14px;
  color: #333;
}
.creator .link:nth-child(3n)::before{
  margin-left: 10px;
  position: absolute;
  margin-left: -6px;
  content: '';
  display: block;
  height: 14px;
  border-left: 1px solid #c1c1c1;
}
/* FOOTER */
footer{
  background-color: #fff;
  padding:20px;
}
footer .links{
  font-size: 14px;
  color: #333;
  margin: 15px 0 30px;
  text-align: center;
}
footer .links li{ 
  display: inline-block;
  padding: 0 5px;
}
.copyright{
  text-align: center;
  font-size: 14px;
  color: #333;
}

@media screen and (min-width: 768px){
  /* HEADER */
  header .gnb_menu{
    display: none;
  }
  header .menu{
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 250px;
    margin-top: 0;
    right: 0;
    text-align: right;
  }
  header .menu li{
    display: inline-block;
    margin: 0 10px;
  }
  header .menu li a{
    line-height: 30px;
  }
  /* BANNER */
  .banner{
    padding: 35px 30px;
  }
  .banner .content-para{
    position: absolute;
    height: 252px;
    width: calc(100% - 350px);
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .banner .content .banner_img{
    width: 350px;
    height: 252px;
    position: absolute;
    right: 0;
    top: 0; bottom: 0;
    margin: auto 0;
  }
  .banner .content .description{
    font-size: 32px;
    line-height: 40px;
    -webkit-line-clamp: 3;
    text-align: left;
  }
  .banner .content .profile{
    justify-content: flex-start;
    margin-top: 80px;
  }
  .banner .content .profile_img{
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  .banner .content .profile::before{
    margin-top: -110px;
  }
  .banner .content .profile_img img{
    width: 40px;
    height: 40px;
  }
  .banner .content .profile_name{
    font-size: 18px;
  }
  /* MAIN CONTENT */
  .main{
    padding:0 30px;
  }
  .main .content{
    width: calc(50% - 10px);
    margin: 20px 0;
  }
  .main .content:nth-child(2n-1){
    margin-right: 20px;
  }
  .main .content .link .description{
    font-size: 18px;
  }
  /* MESSAGE */
  .message{
    padding: 30px 34px;
  }
  .message .message-content{
    padding: 50px 50px;
  }
  .message-content .submit-btn{
    border: 2px solid #bdbdbd;
    font-size: 15px;
    padding: 10px 20px;
    top: 35px;
    right: 50px;
  }
  /* LINKS */
  .links .creator .title{
    display: inline-block;
    margin-right: 20px;
  }
}

/* VIEW */
.base-font{
  font-size: 14px;
  color: #666;
}
.inner.view{
  padding: 0 15px;
  background-color: #f0f0f0;
}
.view-content .title{
  color: #333;
  font-weight: bold;
}
.content_info .inner.view{
  padding: 40px 15px 25px;
  border-bottom: 1px solid #c1c1c1;
}
.content_info .title.l{
  font-size: 28px;
  padding-bottom: 30px;
}
.content_info .main_info{
  display: flex;
  flex-wrap: wrap;
}
.content_info .main_info li{
  display: flex;
  width: 100%;
  font-size: 14px;
  color: #767676;
  margin-bottom: 15px;
}
.content_info .main_info li .left{
  width: 100px;
  font-weight: bold;
}
.content_info .main_info li .num{
  font-family: 'tahoma';
}
/* RECIPE */
.recipe .inner{
  padding-top: 30px;
  padding-bottom: 10px;
}
.recipe .inner .base-font{
  margin-top: 15px;
  line-height: 25px;
}
.food_make .base-font{
  list-style: decimal;
  padding-left: 15px;
}
/* TABLE */
.make_table.inner{
  padding-top: 30px;
}
.make_table table{
  table-layout:fixed;
  width: 100%;
}
.make_table table,
.make_table table th,
.make_table table td{
  border: 1px solid #c1c1c1;
  vertical-align: middle;
  line-height: 25px;
  text-align: left;
  padding: 5px;
}
/* IMAGE */
.images.inner{
  padding: 30px 15px;
}
.images.inner .image{
  text-align: center;
}
.images.inner .image figcaption{
  font-size: 14px;
  color: #666;
  padding: 10px 0 30px;
}
.images.inner img{
  width: 100%;
  max-width: 600px;
}

@media screen and (min-width: 1024px) {
  .inner{
    width: 988px;
  }
  header .inner{
    height: 70px;
  }
  header .logo{
    background: url(/image/logo_m.png) no-repeat;
    width: 168px;
    height: 36px;
    margin-left: 0;
  }
  header .menu{
    width: 300px;
  }
  header .menu li{
    display: inline-block;
    margin: 0 10px;
  }
  header .menu li:last-child{
    margin-right: 0;
  }
  header .menu li a{
    line-height: 50px;
    font-size: 22px
  }
  /* BANNER */
  .banner{
    padding: 0 0;
    height: 420px;
  }
  .banner .content .description{
    font-size: 40px;
    line-height: 52px;
    -webkit-line-clamp: 3;
    text-align: left;
    width: 460px;
    height: 156px;
  }
  .banner .content .banner_img{
    width: 500px;
    height: 360px;
  }
  /* MAIN CONTENT */
  .main{
    padding: 0;
  }
  .main .content{
    width: 316px;
    height: 316px;
  }
  .main .content:nth-child(2n){
    margin-right: 20px;
  }
  .main .content:nth-child(3n){
    margin-right: 0;
  }
  .main .content .description{
    display: none;
  }
  .main .content:hover .link .description{
    display: block;
    position: absolute;
    font-size: 18px;
    width: 316px;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    background-color: #fff;
    bottom: 0;
  }
  .main .content:hover img{
    opacity: .3;
  }
  /* MESSAGE */
  .message{
    position: relative;
    padding: 50px 0;
    background: url(/image/bg_pencil.png) no-repeat center;
  }
  .message .inner{
    display: flex;
    justify-content: space-between;
  }
  .message .leave_box{
    text-align: left;
    width: 300px;
  }
  .message .leave_box .leave_message{
    font-size: 42px;
    margin-bottom: 20px;
  }
  .message .leave_box .leave_email{
    font-size: 18px;
  }
  .message .message-content{
    width: 590px;
    padding: 40px 50px;
    position: relative;
  }
  /* LINKS */
  section.links{
    padding: 30px 0;
  }
}